/*
Generate chars css:
x = 430
for c in range(1,14):
    print(f".circleTextBottomLeft .char{c} {{ transform: rotate({x}deg); }}")
    x = x - 5
*/

.circleTextBottomLeft span {
  font: 26px Monaco, MonoSpace;
  color: white;
  height: 100px;
  position: absolute;
  width: 20px;
  left: 185px;
  top: 325px;
  transform-origin: 70% -170%;
}
.circleTextBottomLeft .char1 { transform: rotate(425deg); }
.circleTextBottomLeft .char2 { transform: rotate(420deg); } 
.circleTextBottomLeft .char3 { transform: rotate(415deg); } 
.circleTextBottomLeft .char4 { transform: rotate(410deg); } 
.circleTextBottomLeft .char5 { transform: rotate(405deg); } 
.circleTextBottomLeft .char6 { transform: rotate(400deg); } 
.circleTextBottomLeft .char7 { transform: rotate(395deg); } 
.circleTextBottomLeft .char8 { transform: rotate(390deg); } 
.circleTextBottomLeft .char9 { transform: rotate(385deg); } 
.circleTextBottomLeft .char10 { transform: rotate(380deg); }
.circleTextBottomLeft .char11 { transform: rotate(375deg); }
.circleTextBottomLeft .char12 { transform: rotate(370deg); }
.circleTextBottomLeft .char13 { transform: rotate(365deg); }

.circleTextBottomRight span {
  font: 26px Monaco, MonoSpace;
  color: white;
  height: 100px;
  position: absolute;
  width: 20px;
  left: 145px;
  top: 325px;
  transform-origin: 70% -170%;
}
.circleTextBottomRight .char1 { transform: rotate(350deg); }
.circleTextBottomRight .char2 { transform: rotate(345deg); }
.circleTextBottomRight .char3 { transform: rotate(340deg); }
.circleTextBottomRight .char4 { transform: rotate(335deg); }
.circleTextBottomRight .char5 { transform: rotate(330deg); }
.circleTextBottomRight .char6 { transform: rotate(325deg); }
.circleTextBottomRight .char7 { transform: rotate(320deg); }
.circleTextBottomRight .char8 { transform: rotate(315deg); }
.circleTextBottomRight .char9 { transform: rotate(310deg); }
.circleTextBottomRight .char10 { transform: rotate(305deg); }
.circleTextBottomRight .char11 { transform: rotate(300deg); }
.circleTextBottomRight .char12 { transform: rotate(295deg); }
.circleTextBottomRight .char13 { transform: rotate(290deg); }